.newGainButton{

    font-size: 32px;
    border-style: solid;
    border-color: black;
    background-color: white;

}

.newGainButton:hover{

    font-size: 32px;
    border-style: solid;
    color: grey;

}

.stickBottomRight{
    position: fixed;
    bottom: 16px;
    right: 16px;    
}