.container {
  margin: 8px 8px 0px 8px;
  border: solid;
  color: black;
  padding: 8px;
}

.gridLayout {
  display: grid;
  grid-template-areas: 's g';
  grid-template-columns: 50% 50%;

}

.graphContainer {

  grid-area: 'g';
  padding:16px;
  
}

.gotdTitle{

  text-align: center;
  font-size: xx-large;
  margin: 0px, 0px, 0px, 16px;
  color:black;

}