@keyframes fadeIn {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 75%;
  }
}

.card {
  opacity: 100%;
  display: flex;
  border: solid;

  padding: 8px;
  margin: 4px;
  font-size: xx-large;
  overflow: hidden;
  white-space: nowrap;

}

.cardDone {
  opacity: 25%;
  display: flex;
  border: solid;

  padding: 8px;
  margin: 4px;
  font-size: xx-large;
  overflow: hidden;
  white-space: nowrap;

}

.counter {
  font-size: inherit;
  border-style: none;
  color: white;
  background-color: black;
  padding: 0px 8px;
}

.title {
  font-size: inherit;
  margin-left: 4px;
  color:black;
}

.titleDone{
  font-size: inherit;
  margin-left: 4px;
  color:black;
  text-decoration: line-through;
}

.card:hover {
  opacity: 66%;
  cursor:pointer;
}
