.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 0;
    margin: 0;
  
    list-style-type: none;
    border-style: solid;
    padding: 8px;
}

.selected { 

    color: black

}

.unselected {

    color: grey

}

